@page
@model BmiBeregner.Pages.BmiCalculations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>BMI Calculations</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BmiCalculation[0].BmiNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BmiCalculation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BmiNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
